@model Weapsy.Reporting.Pages.ZoneModel

@foreach (var module in Model.Modules)
{
    <span style="font-style: italic;">(Modules temporarily disabled)</span>
    @*@await Component.InvokeAsync("Module", new { model = module })*@
}